form {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px 0;

  .input-wrapper {
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;

    input, select {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      box-shadow: none;
      border: 1px solid #ccc;
      background-color: white;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }
  }

  .btn-wrapper {

    .btn {
      margin: 0 auto;
      width: 250px;

      button {
        width: 100%;
        border-radius: 5px;
        outline: none;
        padding: 20px 0;
        background-color: #db930d;
        color: white;
        font-size: 22px;
        cursor: pointer;
        &:hover {
          background-color: darken(#db930d, 5%);
        }
      }
    }
  }
}