.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);

  &--inner {
    min-width: 400px;
    min-height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}